<h1><%= @bookmark.name %></h1>

<ul>
<% @bookmarks.each do |movie| %>
<li><%= bookmark.name %></li>
<% end %>
</ul>

  <%= link_to "Delete",
   bookmark_path(bookmark),
    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
  %>
